body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background: #367cd1 url("https://wallpaperplay.com/walls/full/4/3/6/294231.jpg") no-repeat center;
    background-size: contain;
    min-height: 100%;
}

h1 {
   text-align: center; 
}
#startBtn {
    padding: 15px;
    font-size: 30px;
  }

button,
.submitButton {
  display: block;
  background: white;
  color: black;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-weight: 900;
}