body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background: #367cd1 url("https://wallpaperplay.com/walls/full/4/3/6/294231.jpg") no-repeat center;
    background-size: contain;
    min-height: 100%;
}

h1 {
   text-align: center; 
}

p {
	text-align: center;
	font-size: 20px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 20px;
  }
  
  nav li {
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
  }

#startbutton {
    padding: 15px;
    font-size: 30px;
  }

button,
.submitButton {
  display: block;
  background: white;
  color: black;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-top: 30px;
  margin-left: 30px;
  font-weight: 900;
  
}

submitButton:hover,
button:hover {
    background: black;
    color: white;
}

#question-box {
    color: white;
    padding: 30px;
    background:  #80808075;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

fieldset {
    border: none;
    max-width: 475px;
}

#resetButton {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 18px;
  }

.progress-bar {
    left: 0;
    position: fixed;
    bottom: 0;
    height: 20px;
    background: white;
  }